<section>
    <material-expansionpanel autoDismissable [showSaveCancel]="false" name="General Information" shouldExpandOnLeft>
        <ul *ngFor="let generalInfos of visaDetails.visaInfo.generalInfo">
            <li>{{generalInfos}}</li>
        </ul>
    </material-expansionpanel>
    <material-expansionpanel autoDismissable [showSaveCancel]="false" name="Visa Information">
        <div>
            <span>Visitor Visa</span>
            <span>Main Documents</span>
            <ul *ngFor="let touristVisaInfo of visaDetails.visaInfo.touristInfo.mainDocuments">
                <li>{{touristVisaInfo}}</li>
            </ul>

            <span>Sponsors Documents</span>
            <ul *ngFor="let touristVisaInfo of visaDetails.visaInfo.touristInfo.sponsorsDocuments">
                <li>{{touristVisaInfo}}</li>
            </ul>
        </div>

        <div>
            <span>Business Visa</span>
            <span>Main Documents</span>
            <ul *ngFor="let businessVisaInfo of visaDetails.visaInfo.businessInfo.mainDocuments">
                <li>{{businessVisaInfo}}</li>
            </ul>
            <span>Sponsors Documents</span>
            <ul *ngFor="let businessVisaInfo of visaDetails.visaInfo.businessInfo.sponsorsDocuments">
                <li>{{businessVisaInfo}}</li>
            </ul>
        </div>

    </material-expansionpanel>
    <material-expansionpanel autoDismissable [showSaveCancel]="false" name="Contact Details" shouldExpandOnLeft>
        <div>
            <span>{{visaDetails.contactDetails.embassyName}}</span>
            <ul *ngFor="let contactInfo of visaDetails.contactDetails.embassyContactDetails">
                <li>{{contactInfo}}</li>
            </ul>

            <span>{{visaDetails.contactDetails.visaCenterName}}</span>
            <ul *ngFor="let contactInfo of visaDetails.contactDetails.visaCenterContactDetails">
                <li>{{contactInfo}}</li>
            </ul>
        </div>
    </material-expansionpanel>
</section>
