<div class="container">
    <div class="row">
        <div class="mx-auto mt-5">
            <h1>Visa Types</h1>
        </div>
    </div>
    <hr>
</div>
<div class="container tab-width">
    <material-tab-panel class="tab-panel" [activeTabIndex]="0">
        <material-tab label="Electronic Visa">
            <div *deferredContent>
                    <electronic-visa-component></electronic-visa-component>
                </div>
        </material-tab>
        <material-tab label="Visa on Arrival">
            <div *deferredContent>
                    <visa-on-arrival-component></visa-on-arrival-component>
                </div>
        </material-tab>
        <material-tab label="Paper Visa by Counter">
            <div *deferredContent>
                    <paper-visa-counter-component></paper-visa-counter-component>
                </div>
        </material-tab>
        <material-tab label="Paper Visa (In Person)">
            <div *deferredContent>
                    <paper-visa-person-component></paper-visa-person-component>
                </div>
        </material-tab>
    </material-tab-panel>
</div>
