<div id="carouselExampleControls" class="carousel slide" data-ride="false" data-interval="false">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <testimonial-template-component></testimonial-template-component>
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="assets/images/banner.jpg" alt="Second slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="assets/images/banner.jpg" alt="Third slide">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
