hr {
  margin-top: 1rem;
  margin-bottom: 3rem;
  border: 0;
  border-top: 2px solid rgba(0, 0, 0, 0.5);
  width: 15%;
}

.exp-width {
  width: 100% !important;
}

.row-margin {
  margin-right: 0px !important;
  margin-left: 0px !important;
}
