<section>
    <div class="row">
        <material-icon icon="{{iconName}}"></material-icon>
        <material-icon icon="{{iconName}}"></material-icon>
        <material-icon icon="{{iconName}}"></material-icon>
        <material-icon icon="{{iconName}}"></material-icon>
        <material-icon icon="{{iconName}}"></material-icon>
    </div>
</section>
