@import "package:angular_components/css/material/material";
@import "package:angular_components/material_stepper/mixins";
@import "package:angular_components/material_yes_no_buttons/mixins";

$step-width: $mat-grid * 70;
$step-height: $mat-grid * 20;

:host {
  .step-a {
    height: 70px;
    width: $step-width;
  }

  .step-b {
    height: $step-height;
    width: $step-width;
  }

  .step-c {
    height: $step-height;
    width: $step-width;
  }

  .step-d {
    height: $step-height;
    width: $step-width;
  }

  .custom-toggle-button {
    background: $mat-lime-200;
    margin-top: $mat-grid * 5;
  }

  .custom-continue-button {
    background-color: $mat-green-500;
    color: $mat-white;
    font-size: $mat-grid * 2;
    margin-top: $mat-grid * 5;
  }

  @include material-stepper-theme(
    $selector: ".teal-themed",
    $step-color: $mat-teal-500,
    $button-color: $mat-white
  );

  .teal-themed {
    @include material-yes-button-color($mat-teal-500);
    @include material-no-button-text-color($mat-teal-500);
  }
}
