<div>
    <material-stepper legalJumps="none" orientation="vertical" size="default" (submitted)="submittingApplication($event)">
        <template step name="General Information">
            <div>
                <general-information-component (getGenInfo)="getDetails($event)"></general-information-component>
            </div>
        </template>
        <template step name="Visa Type">
            <div>
                <visa-type-component></visa-type-component>
            </div>
        </template>
        <template step name="Applicant Details">
            <div>
                <applicant-details-component></applicant-details-component>
            </div>
        </template>
        <template step name="Review and Submit">
            <div>
                <review-submit-component></review-submit-component>
            </div>
        </template>
    </material-stepper>
</div>
