<div class="material-fab">
        <material-fab mini raised popupSource #source="popupSource" (trigger)="visible = !visible" class="blue" [materialTooltip]="contactUsToolTip" [tooltipPositions]="toolTipPositions">
            <material-icon icon="chat" class="custom-size"></material-icon>
        </material-fab>
</div>
<material-popup [enforceSpaceConstraints]="true" [source]="source" [(visible)]="visible"
    [preferredPositions]="[position]">
    <div *deferredContent style="height: 600px; width: 400px;">
        <div>
            <h3>Contact Us</h3>
            <material-input floatingLabel type="text" label="Name" required requiredErrorMsg="Enter Your Name">
            </material-input>
            <material-input floatingLabel label="Enter Your Contact Number" type="number" [(ngModel)]="numericValue"
                checkPositive>
            </material-input>
            <material-input floatingLabel label="Enter Your Email" type="email" [(ngModel)]="emailAddress">
            </material-input>
            <material-input class="block-width" multiline rows="5" type="text" label="Inquiry">
            </material-input>
            <material-button raised>
                <span>Submit</span>
            </material-button>
        </div>
    </div>
</material-popup>
