@import "package:angular_components/css/material/material";
@import "package:angular_components/material_button/mixins";

@mixin colorize($selector, $color) {
  $raised: $selector + "[raised]";
  @include button-background-color($raised, $color);
  @include button-color($raised, $mat-white);

  $not-raised: $selector + ":not([raised])";
  @include button-color($not-raised, $color);
}

:host {
  @include colorize("material-fab.blue", $mat-blue);
}

.material-fab {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 24px;
}

material-button {
  background: $mat-blue;
  color: $mat-white;
}

p {
  margin: 0;
}

.auto-focus-section {
  height: $mat-grid * 10;

  material-button {
    width: $mat-grid * 13;
  }
}

.align-with-font-size {
  font-size: $mat-font-size-headline;
  line-height: $mat-font-size-body;
}

.align-with-line-height {
  font-size: $mat-font-size-body;
  line-height: $mat-font-size-headline;
}

.fill-width {
  align-items: baseline;
  border: 1px solid $mat-transparent-black;
  display: flex;
  padding: $mat-grid;
  width: $mat-grid * 100;

  material-input {
    flex-grow: 1;
    margin-left: $mat-grid;
  }
}

.block-width {
  display: block;
  width: $mat-grid * 40;
}

[tooltipTarget] {
  color: $mat-light-transparent-black;
  cursor: pointer;
  outline: none;

  &:hover,
  &:focus {
    color: $mat-blue-700;
  }
}

:host ::ng-deep .hint-text {
  font-size: 13px !important;
}

.custom-size {
  @include material-icon-size(25px);
}
