<div class="text-center">
    <h1>How it Works</h1>
    <div class="row row-margin">
        <div class="col">
            <img src="assets/images/website.png" class="img-size">
            <p>FILL OUT ONLINE APPLICATION</p>
            <p>Complete our easy online application and pay with credit card or PayPal</p>
        </div>
        <div class="col">
            <img src="assets/images/envelope.png" class="img-size">
            <p>RECEIVE VISA ON ARRIVAL CONFIRMATION VIA EMAIL</p>
            <p>No need to deal with the embassy or lose valuable time at destination airport</p>
        </div>
        <div class="col">
            <img src="assets/images/check-in.png" class="img-size">
            <p>ENTER DESTINATION</p>
            <p>Present your Passport and Document we provide at destination airport. Receive visa and enter country</p>
        </div>
    </div>
</div>
