<section>
    <div>
        <material-expansionpanel autoDismissable [showSaveCancel]="false" name="Pending Applications" disableHeaderExpansion>
            <span>Data1</span>
        </material-expansionpanel>
    </div>
</section>