<nav>
  <material-content>

    <header class="material-header shadow material-header-bgcolor">
      <div class="material-header-row">
        <span class="title" (click)="navigateToHome()">
          <img class="main-logo" src="assets/images/logo.png">
          VisaFinders
        </span>
        <div class="material-spacer"></div>
        <material-button class="material-drawer-button" (trigger)="showSignIn()">
          <span class="top-nav-btns">Sign In</span>
        </material-button>
        <material-button class="material-drawer-button" (trigger)="navigateToApplyNow()">
          <span class="top-nav-btns">Apply Now</span>
        </material-button>
        <material-button class="material-drawer-button">
          <span class="top-nav-btns">About Us</span>
        </material-button>
      </div>
    </header>

  </material-content>
</nav>
