@import "package:angular_components/css/material/material";
@import "package:angular_components/material_progress/mixins";

.custom-theme {
  @include material-progress-theme(
    $indeterminate-color: $mat-red-100,
    $active-color: $mat-red-500,
    $secondary-color: $mat-red-200
  );
}

.title {
  cursor: pointer;
  color: black;
  font-size: 30px;
}

.main-logo {
  max-width: 40px;
}

.material-header-bgcolor {
  background-color: #ececec !important;
}

.top-nav-btns {
  cursor: pointer;
  color: black;
}
