<div class="grid-container-col">
    <div class="grid-item">
        <material-input floatingLabel class="text-width" type="email" label="Email Address" [(ngModel)]="applyNowService.generalInfo.emailAddress" required></material-input>
    </div>
</div>
<div class="grid-container-col-1">
    <div class="grid-item">
        <material-input floatingLabel  type="text" label="Contact Number" [(ngModel)]="applyNowService.generalInfo.contactNumber" required></material-input>
    </div>
    <div class="grid-item">
        <material-input floatingLabel [multiline]  rows="2" maxRows="4" type="text" label="Home Address" [(ngModel)]="applyNowService.generalInfo.homeAddress" required></material-input>
    </div>
</div>
<div class="grid-container-col-2">
    <div class="grid-item">
        <material-datepicker [selectDatePlaceHolderMsg]="intendedDepDate"
            materialTooltip="Intended Depature Date from Country" [(date)]="applyNowService.generalInfo.depDate" required></material-datepicker>
    </div>
    <div class="grid-item">
        <material-datepicker [selectDatePlaceHolderMsg]="intenedArrivalDate"
            materialTooltip="Intended Arrival Date to Country" [(date)]="applyNowService.generalInfo.arrDate" required></material-datepicker>
    </div>
</div>

