@import "package:angular_components/css/material/material";
@import "package:angular_components/css/material/shadow";

.grid-container-col {
  padding-top: 25px;
  padding-left: 25px;
  display: grid;
  grid-template-columns: 30%;
}

.grid-container-col-1 {
  padding-left: 25px;
  display: grid;
  grid-template-columns: 20% 30%;
}

.grid-container-col-2 {
  padding-left: 25px;
  display: grid;
  grid-template-columns: 30% 30%;
}

.grid-item {
  font-size: 18px;
  text-align: left;
  padding: 10px;
}

:host ::ng-deep .border {
  border: 0px !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12) !important;
}

:host ::ng-deep .button {
  margin-top: 15px !important;
}

:host ::ng-deep .label {
  top: 5px !important;
}

:host ::ng-deep .label-text {
  font-size: 15px !important;
}

:host {
  width: 100% !important;
}

:host ::ng-deep .text-width {
  width: 300px !important;
}
