<div class="grid-container-col">
    <div class="grid-item">
        <span>Country To Visit</span>
    </div>
    <div class="grid-item">
        <country-dropdown-list-component [isToCountry]="isToCountry" [hintValue]="selectedCountry" (selectedCountry)="getVisitingCountry($event)"></country-dropdown-list-component>
    </div>
    <div class="grid-item-visa-types">
        <span>Applying For</span>
    </div>
    <div class="grid-item">
        <material-radio-group [(ngModel)]="applyNowService.visaType.applyVisaType">
            <material-radio *ngFor="let visaType of visaTypes" [value]="visaType">{{visaType.visaName}}
            </material-radio>
        </material-radio-group>
    </div>
</div>
<div class="grid-container-col-1">
    <div class="grid-item">
        <span>Select the following Optional Service you are requesting</span>
    </div>
    <div class="grid-item">
        <material-radio-group [(ngModel)]="applyNowService.visaType.optionalService">
            <material-radio *ngFor="let optionalService of optionalServices" [value]="optionalService">{{optionalService.optionalServiceName}}
            </material-radio>
        </material-radio-group>
    </div>
</div>

