@import "package:angular_components/css/material/material";
@import "package:angular_components/css/material/shadow";

.grid-container-col {
  padding-top: 25px;
  padding-left: 25px;
  display: grid;
  grid-template-columns: 20% 30%;
}

.grid-container-col-1 {
  padding-top: 25px;
  padding-left: 25px;
  display: grid;
  grid-template-columns: 50%;
}

.grid-item {
  font-size: 18px;
  text-align: left;
  padding: 10px;
}

.grid-item-visa-types {
  font-size: 18px;
  text-align: left;
  padding: 10px;
  margin-top: 5%;
}

:host ::ng-deep .border {
  border: 0px !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12) !important;
}
