<div class="container">
    <div class="row">
        <div class="mx-auto mt-5">
            <h1>Why Choose Us?</h1>
        </div>
    </div>
    <hr>
</div>
<div class="container row text-center row-margin tab-width grid-container-col">
    <div class="mdc-card mdc-card--outlined grid-container-col-1">
        <h4 class="h4-font">SPEED AND SIMPLICITY</h4>
        <div class="grid-container-col-2">
            <material-icon icon="alarm" class="custom-size grid-item-1"></material-icon>
            <p class="grid-item">Easy, traveler-friendly application process. Usually 100% online and with clear instructions - much less
                complicated than dealing with foreign governments.</p>
        </div>
    </div>
    <div class="mdc-card mdc-card--outlined grid-container-col-1">
        <h4 class="h4-font">SECURITY</h4>
        <div class="grid-container-col-3">
            <material-icon icon="security" class="custom-size grid-item-1"></material-icon>
            <p class="grid-item">World-class data centers and state-of-the-art methods for securing user accounts and information. Your
                credit card info will never be exposed to any government websites.</p>
        </div>
    </div>
    <div class="mdc-card mdc-card--outlined grid-container-col-1">
        <h4 class="h4-font">MINIMUM CHANCE OF REJECTION</h4>
        <div class="grid-container-col-2">
            <material-icon icon="assignment_turned_in" class="custom-size grid-item-1"></material-icon>
            <p class="grid-item">All documents are reviewed by a team of immigration experts before submission to respective governments.
                Our staff is well-trained and offers years of experience.</p>
        </div>
    </div>
    <div class="mdc-card mdc-card--outlined grid-container-col-1">
        <h4 class="h4-font">AWESOME CUSTOMER SUPPORT!</h4>
        <div class="grid-container-col-2">
            <material-icon icon="insert_emoticon" class="custom-size grid-item-1"></material-icon>
            <p class="grid-item">Our call centers are ready to help you 24/7. We want you to enjoy your travels and ditch the stress of
                getting a visa!</p>
        </div>
    </div>
</div>
