@import "package:angular_components/css/material/material";
@import "package:angular_components/material_icon/mixins";

hr {
  margin-top: 1rem;
  margin-bottom: 3rem;
  border: 0;
  border-top: 2px solid rgba(0, 0, 0, 0.5);
  width: 15%;
}

.custom-size {
  @include material-icon-size(50px);
}

.row-margin {
  margin-right: 0px !important;
  margin-left: 0px !important;
}

.tab-width {
  max-width: 100% !important;
}

.grid-container-col {
  padding-top: 25px;
  padding-left: 25px;
  padding-right: 25px;
  display: grid;
  grid-template-columns: 20% 20% 20% 20%;
  justify-content: space-evenly;
}

.grid-container-col-1 {
  padding-top: 25px;
  padding-left: 25px;
  padding-right: 25px;
  display: grid;
  grid-template-columns: 20%;
}

.grid-item {
  font-size: 15px;
  text-align: center;
}

.grid-container-col-2 {
  padding-top: 25px;
  padding-left: 25px;
  padding-right: 25px;
  display: grid;
  grid-template-columns: 175px;
}

.grid-container-col-3 {
  padding-top: 50px;
  padding-left: 25px;
  padding-right: 25px;
  display: grid;
  grid-template-columns: 175px;
}

.grid-item-1 {
  margin-left: auto;
  margin-right: auto;
}

.h4-font {
  font-size: 20px !important;
}
