<div class="container">
    <div class="row d-block">
        <h2 class="display-5">Value Added Services</h2>
        <hr>
        <ul>
            <li>Digital Photo Service</li>
            <li>Appointment Scheduling Visa Submission</li>
            <li>Online Visa Form Filling</li>
            <li>Digital Photo Service</li>
            <li>Comprehensive advice on supporting document preparation for visa submission</li>
            <li>Draft Visa Request Letters Preparation</li>
            <li>Document Translation</li>
            <li>Notarization Services</li>
        </ul>
    </div>
    <div class="row d-block">
        <h2 class="display-5">Visas Documents Delivery Methods</h2>
        <hr>
        <p>Our International & Local Courier Partner - DTDC Srilanka</p>
        <p>Global Parcel Delivery, Sri Lanka is the local representative of DPD Group, Europes 2nd largest express company and DTDC Express Ltd.</p>
        <p>Saturday Delivery</p>
        <p>Need your documents by Saturday?  VisaFinders- can arrange to have your documents delivered to you by 8:30 am on a Saturday.  This service ensures that your documents reach you in time for your next trip.  Contact VisaFinders-  Customer Care Center at 11111111111 or info@visabymasters.com for further details.</p>    
    </div>
</div>