@import "package:angular_components/material_expansionpanel/material_expansionpanel.scss.css";
@import "package:angular_components/css/material/material";

ul {
  list-style: none;
  padding-left: 0;
}

li {
  line-height: 45px;
}

li:hover {
  background-color: #eeeeee;
}

li material-fab {
  float: left;
  vertical-align: middle;
}

.done {
  text-decoration: line-through;
}

:host ::ng-deep .label-text {
  font-size: 13px !important;
}
