<section>
    <div>
        <material-expansionpanel autoDismissable [showSaveCancel]="false" name="Country Information" disableHeaderExpansion>
            <div>
                <material-input type="text" label="Country Name"></material-input>
                <material-checkbox label="Popular Visa" [(ngModel)]="isSelected"></material-checkbox>
                <material-input type="text" label="Country Image Path"></material-input>
                <material-input type="text" label="Country Short Name"></material-input>
                <country-dropdown-list-component [hintValue]="hintValue"></country-dropdown-list-component>
            </div>
            <div>
                <span>Popular Visas</span>
                <ul *ngFor="let item of popularVisa; let i=index">
                    <li>
                        <span>{{item.countryName}}</span>
                        <material-fab mini>
                            <material-icon icon="delete"></material-icon>
                        </material-fab>
                    </li>
                </ul>
                <span>Total Popular Visa Countries - {{popularVisa.length}}</span>
            </div>
        </material-expansionpanel>
    </div>
</section>