<div class="container-fluid px-0">
    <img class="img-tourism" src="assets/images/tourism.gif">
</div>
    <check-visa-component></check-visa-component>
    <popular-visa-component></popular-visa-component>
    
