.grid-container-col {
  padding-top: 25px;
  padding-left: 25px;
  padding-right: 25px;
  display: grid;
  grid-template-columns: 100%;
}

.img-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.txt-center {
  text-align: center;
}
