<div class="grid-container-col">
    <img src="{{country.countryFlagPath}}" class="img-center">
    <span class="txt-center">{{country.countryName}}</span>
    <material-button (trigger)="onSelect(country)">View More</material-button>
</div>

