<div class="container-fluid">
    <div class="row row-margin mdc-card mdc-card--outlined">
        <country-template-component></country-template-component>
    </div>
</div>
<div class="container">
    <div class="row">
        <p>VisaFinders - Visa Pre-check service documents will be reviewed within three hours of receipt and the
            contact for the order will receive a response to email requests received before 4:00 pm on Monday - Friday.
            Requests received after 4:00 pm will be responded to by 11:00 am the following business day.</p>
        <p>Note that file size sent can affect speed of transmission from your location. Please reduce file size as much
            as possible before sending.</p>
    </div>
</div>
<div class="container">
    <h2 class="display-5">Service Fees</h2>
    <hr>
    <p>Fees are exclusive of all other service fees, embassy fees or shipping fees.</p>
    <h2 class="display-5">Terms of Use</h2>
    <hr>
    <p>By submitting your documents to VisaFinders for pre-checking you will be consenting to the following statements in addition to the standard VisaFinders Terms of Use:</p>
    <ul>
        <li>To complete the Visa pre-check we will require a scan of the applicant’s identity page(s) of the passport along with any residence visas to be included with the supporting documentation for the visa.</li>
        <li>VisaFinders will only check the documentation submitted together at the same time and it must include a VisaFinders- Visa Pre-Check order form. You must submit all the required documents and forms that are listed in the VisaFinders Visa Application kit or are listed on the country requirements.</li>
        <li>All visa processing fee is non-refundable and charges will apply at the time your documents are received and a check has been completed.</li>
        <li>We require users of VisaFinders - Visa Pre-Check to submit approved paperwork within two business days (defer from country of visa requested). Orders submitted outside this time frame cannot be assumed to be correct due to changes that could be imposed by embassies.</li>
    </ul>
    <p>If you have questions contact a VisaFinders specialist on 8888888888888888.</p>
</div>