.grid-container-col {
  padding-top: 25px;
  padding-left: 25px;
  padding-right: 25px;
  display: grid;
  grid-template-columns: 30% 30% 30%;
}

:host ::ng-deep .mdc-card {
  margin-right: 25px;
}

.grid-item {
  text-align: left;
  padding: 20px;
}

.grid-container-col-1 {
  text-align: left;
  padding-top: 25px;
  padding-left: 25px;
  padding-right: 25px;
  display: grid;
  grid-template-columns: 90% 5% 0%;
}

.btn-radius {
  height: 35px;
  width: 35px;
  border-radius: 50% !important;
}
