<div class="mdc-card mdc-card--outlined">
<div class="grid-container-col">
    <div class="grid-item">
        <span>Email Address:</span>
        <span>{{applyNowService.generalInfo.emailAddress}}</span>
    </div>
    <div class="grid-item">
        <span>Intended Depature Date:</span>
        <span>{{applyNowService.generalInfo.depDate}}</span>
    </div>
    <div class="grid-item">
        <span>Intended Arrival Date:</span>
        <span>{{applyNowService.generalInfo.arrDate}}</span>
    </div>
    <div class="grid-item">
        <span>Contact Number:</span>
        <span>{{applyNowService.generalInfo.contactNumber}}</span>
    </div>
    <div class="grid-item">
        <span>Home Address:</span>
        <span>{{applyNowService.generalInfo.homeAddress}}</span>
    </div>
    <div class="grid-item">
        <span>Visiting Country:</span>
        <span>{{applyNowService.visaType.country.countryName}}</span>
    </div>
    <div class="grid-item">
        <span>Applying Visa Type:</span>
        <span>{{applyNowService.visaType.applyVisaType.visaName}}</span>
    </div>
    <div class="grid-item">
        <span>Selected Service:</span>
        <span>{{applyNowService.visaType.optionalService.optionalServiceName}}</span>
    </div>
</div>
</div>
<div class="mdc-card mdc-card--outlined">
    <div class="grid-container-col-1">
        <div>
            <h3>Applicant {{index}}</h3>
        </div>
        <material-button icon class="btn-radius" (trigger)="viewPrevious()" [disabled] = "isShowPreviousBtn">
            <material-icon icon="arrow_left"></material-icon>
        </material-button>
        <material-button icon class="btn-radius" (trigger)="viewNext()" [disabled] = "isShowNextBtn">
            <material-icon icon="arrow_right"></material-icon>
        </material-button>
    </div>
    <div>
        <applicant-details-view [applicant]="applicant"></applicant-details-view>
    </div>
</div>
