@import "package:angular_components/css/material/material";
@import "package:angular_components/css/material/shadow";

.grid-container-col {
  padding-top: 25px;
  padding-left: 25px;
  padding-right: 25px;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

.grid-container-col-1 {
  padding-top: 25px;
  padding-left: 25px;
  padding-right: 25px;
  display: grid;
  grid-template-columns: 25% 20% 30%;
}

.grid-item {
  font-size: 18px;
  text-align: left;
  padding: 10px;
}

:host ::ng-deep .border {
  border: 0px !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12) !important;
}

:host ::ng-deep .mdc-card {
  margin-right: 25px;
}

:host ::ng-deep .menu-lookalike {
  width: 215px !important;
}
