<div class="mdc-card mdc-card--outlined">
<div class="grid-container-col">
    <div class="grid-item">
        <material-input floatingLabel type="text" label="First Name" [(ngModel)]="applicant.fName"></material-input>
    </div>
    <div class="grid-item">
        <material-input floatingLabel type="text" label="Last Name" [(ngModel)]="applicant.lName"></material-input>
    </div>
    <div class="grid-item">
        <material-dropdown-select buttonText="{{applicant.gender}}" [(selection)]="applicant.gender" [options]="values" [deselectOnActivate]="false" materialTooltip="Your Gender">
        </material-dropdown-select>
    </div>
    <div class="grid-item">
        <country-dropdown-list-component [hintValue]="applicant.nationality" (selectedCountry)="getSelectedNationality($event)" materialTooltip="Your Nationality"></country-dropdown-list-component>
    </div>
    <div class="grid-item">
        <material-datepicker [selectDatePlaceHolderMsg]="dob" materialTooltip="Your Date of Birth" [(date)]="applicant.dOfBirth"></material-datepicker>
    </div>
    <div class="grid-item">
        <country-dropdown-list-component [hintValue]="selectBC" materialTooltip="Your Country of Birth" (selectedCountry)="getCountryOfBirth($event)"></country-dropdown-list-component>
    </div>
</div>
<div class="grid-container-col-1">
    <div class="grid-item">
        <material-input floatingLabel type="text" label="Passport Number" [(ngModel)]="applicant.pptNo"></material-input>
    </div>
    <div class="grid-item">
        <material-datepicker [selectDatePlaceHolderMsg]="ppIss" materialTooltip="Your Passport Issue Date" [(date)]="applicant.pptIss"></material-datepicker>
    </div>
    <div class="grid-item">
        <material-datepicker [selectDatePlaceHolderMsg]="ppExp" materialTooltip="Your Passport Expiry Date" [(date)]="applicant.pptExp"></material-datepicker>
    </div>
</div>
</div>
