// Copyright (c) 2016, the Dart project authors.  Please see the AUTHORS file
// for details. All rights reserved. Use of this source code is governed by a
// BSD-style license that can be found in the LICENSE file.

@import "package:angular_components/css/material/material";
@import "package:angular_components/css/material/shadow";

.panel {
  @include shadow-elevation;
  background-color: $mat-white;
  margin: 0;
  transition: margin $mat-transition-slow $mat-transition-standard;
  width: 100% !important;
}

:host:not([hidden]) {
  display: block;
}

:host[flat] .panel {
  box-shadow: none;
  border: 1px solid $mat-border-light;
}

:host[wide] .panel {
  @include shadow-elevation;
  background-color: $mat-white;
  margin: 0 $mat-grid * 3;
  transition: margin $mat-transition-slow $mat-transition-standard;
}

.panel.open,
:host[wide] .panel.open {
  @include shadow-elevation;
  background-color: $mat-white;
  // When opened, add vertical margins, and remove any horizontal margins. This
  // produces the expansion effect.
  margin: $mat-grid * 2 0;
}

:host[flat] .panel.open {
  box-shadow: none;
  margin: 0;
}

.expand-button {
  user-select: none;
  color: $mat-grey-700;
  position: relative;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  transition: transform $mat-transition-slow $mat-transition-standard;

  &.expand-more {
    transform: rotate(180deg);
  }

  &.expand-on-left {
    margin: 0 $mat-grid-type 0 0;
  }
}

header {
  display: flex;
  color: $mat-transparent-black;
  transition: height $mat-transition $mat-transition-standard,
    min-height $mat-transition $mat-transition-standard,
    opacity $mat-transition-slow $mat-transition-standard;

  &.hidden {
    min-height: 0;
    height: 0;
    opacity: 0;
    overflow: hidden;
  }
}

.header {
  align-items: center;
  display: flex;
  flex-grow: 1;
  // TODO(google): Migrate to extended mixin mat-font-subhead
  font-size: $mat-font-size-subhead;
  font-weight: $mat-font-weight-regular;
  cursor: default;
  min-height: $mat-grid * 6;
  min-width: 0;
  transition: min-height $mat-transition $mat-transition-standard;
  outline: none;

  &.disable-header-expansion,
  &.is-disabled {
    cursor: default;
  }
}

.panel.open > header:not(.hidden) > .header {
  min-height: $mat-grid * 8;
}

.background,
:host[wide] .background {
  background-color: $mat-grey-100;
}

.panel-name {
  padding-right: $mat-grid * 2;
  min-width: 20%;

  .primary-text {
    margin: 0;
  }

  .secondary-text {
    // TODO(google): Migrate to extended mixin mat-font-caption
    font-size: $mat-font-size-caption;
    font-weight: $mat-font-weight-regular;
    color: $mat-light-transparent-black;
    margin: 0;
  }
}

.panel-description {
  flex-grow: 1;
  color: $mat-light-transparent-black;
  overflow: hidden;
  padding-right: $mat-grid * 2;
}

main {
  max-height: 100%;
  opacity: 1;
  overflow: hidden;
  transition: height $mat-transition $mat-transition-standard,
    opacity $mat-transition $mat-transition-standard;
  width: 100%;

  &.hidden {
    height: 0;
    opacity: 0;
  }
}

.content-wrapper {
  display: flex;

  &.hidden-header {
    margin-top: $mat-grid * 2;
  }

  > .expand-button {
    align-self: flex-start;
    flex-shrink: 0;
    margin-left: $mat-grid * 2;

    &.expand-on-left {
      margin: 0 $mat-grid-type 0 0;
    }
  }
}

.content {
  flex-grow: 1;
  overflow: hidden;
  width: 100%;
}

%toolbelt {
  box-sizing: border-box;
  border-top: 1px $mat-border-light solid;
  padding: $mat-grid * 2 0;
  width: 100%;
}

.toolbelt ::ng-deep [toolbelt] {
  @extend %toolbelt;
}

.action-buttons {
  @extend %toolbelt;
}

.grid-container-col {
  padding-top: 25px;
  padding-left: 25px;
  padding-right: 25px;
  display: grid;
  grid-template-columns: 15% 15% 15% 15% 15% 15%;
  justify-content: space-evenly;
}
