<!--
 Copyright (c) 2016, the Dart project authors.  Please see the AUTHORS file
 for details. All rights reserved. Use of this source code is governed by a
 BSD-style license that can be found in the LICENSE file.
-->
<div class="panel themeable"
     [class.open]="isExpanded"
     [class.background]="anotherExpanded"
     keyupBoundary>

  <!-- Title section -->
<header [class.hidden]="headerHidden" #headerPanel role="presentation">
  <div class="header grid-container-col"
          buttonDecorator
          #expandCollapseButton
          #headerContent
          keyboardOnlyFocusIndicator
          [disabled]="disabled || headerHidden"
          [class.closed] = "!isExpanded"
          [attr.aria-expanded]="isExpanded"
          [class.disable-header-expansion]="disableHeaderExpansion"
          [attr.aria-controls]="mainId.id">

    <div *ngFor="let country of countryList">
          <country-template-component [country]="country"></country-template-component>  
    </div>

  </div>
</header>

<!-- Expanded section -->
<main [class.hidden]="!isExpanded" #mainPanel role="presentation" autoId #mainId="autoId">
  <div #mainContent *deferredContent="true;forceContent: forceContentWhenClosed">
    <div #contentWrapper class="content-wrapper grid-container-col" [class.hidden-header]="hideExpandedHeader">
      
      <div *ngFor="let country of popularCountryList">
        <country-template-component [country]="country"></country-template-component>
      </div>
    </div>
  </div>
</main>

<material-icon *ngIf="shouldShowExpandIcon" class="expand-button" [icon]="expandIcon"
  [class.expand-more]="shouldFlipExpandIcon" (click)="handleHeaderClick">
</material-icon>

</div>
