<div *ngFor="let applicant of applyNowService.applicantList">
<applicant-details-template [applicant]="applicant"></applicant-details-template>
</div>
<material-button raised (trigger)="addMoreApplicant()" *ngIf="applyNowService.applicantList.length<6" class="blue">Add Applicants</material-button>
