@import "package:angular_components/css/material/material";
@import "package:angular_components/material_button/mixins";

@mixin colorize($selector, $color) {
  $raised: $selector + "[raised]";
  @include button-background-color($raised, $color);
  @include button-color($raised, $mat-white);

  $not-raised: $selector + ":not([raised])";
  @include button-color($not-raised, $color);
}

:host {
  font-family: Roboto, "Helvetica Neue", Arial, Helvetica, sans-serif;

  @include colorize("material-button.blue", #3949ab);
}

:host ::ng-deep .blue {
  top: 25px;
  left: 75%;
  height: 35px;
}

:host ::ng-deep .content {
  padding: 0.7em 0.57em !important;
}
