<top-progress-component *ngIf="isShowProgressBar"></top-progress-component>
<top-navigation></top-navigation>
<router-outlet [routes]="MainRoutes.all"></router-outlet>
<!-- <testimonials-component *ngIf="visaService.isVisaCountry"></testimonials-component> -->
<bottom-bar-component *ngIf="visaService.isVisaCountry"></bottom-bar-component>
<contact-us-component *ngIf="visaService.isVisaCountry"></contact-us-component>