<div class="text-center tab-width">
    <h1>How it Works</h1>
    <div class="row row-margin">
        <div class="col">
            <img src="assets/images/website.png" class="img-size">
            <p>FILL OUT ONLINE APPLICATION</p>
            <p>Complete our easy online application and pay with credit card or PayPal</p>
        </div>
        <div class="col">
            <img src="assets/images/envelope.png" class="img-size">
            <p>RECEIVE DOCUMENT VIA EMAIL</p>
            <p>No need to deal with the embassy. We do it for you so you don't lose valuable time</p>
        </div>
        <div class="col">
            <img src="assets/images/check-in.png" class="img-size">
            <p>ENTER DESTINATION</p>
            <p>Present your Passport and the Document we provide upon entry to destination country</p>
        </div>
    </div>
</div>
