<tab-navigation-component (clicked)="clicked($event)"></tab-navigation-component>
<router-outlet [routes]="Routes.all"></router-outlet>
<visa-types-component *ngIf="isShowVisa"></visa-types-component>
<why-choose-us-component></why-choose-us-component>
