.grid-container-col {
  padding-left: 25px;
  padding-right: 25px;
  display: grid;
  grid-template-columns: 50% 50%;
}

.grid-item {
  text-align: left;
  padding: 20px;
}

.grid-container-col-1 {
  padding-left: 25px;
  padding-right: 25px;
  display: grid;
  grid-template-columns: 30% 30% 30%;
}

.grid-container-col-2 {
  padding-top: 25px;
  padding-left: 25px;
  padding-right: 25px;
  display: grid;
  grid-template-columns: 100%;
}
