<div class="grid-container-col-2">
    <div class="grid-item">
        <span>First Name:</span>
        <span>{{applicant.fName}}</span>
    </div>
    <div class="grid-item">
        <span>Last Name:</span>
        <span>{{applicant.lName}}</span>
    </div>
</div>
<div class="grid-container-col">
    <div class="grid-item">
        <span>Gender:</span>
        <span>{{applicant.gender}}</span>
    </div>
    <div class="grid-item">
        <span>Country of Birth:</span>
        <span>{{applicant.cOfBirth}}</span>
    </div>
    <div class="grid-item">
        <span>Date of Birth:</span>
        <span>{{applicant.dOfBirth}}</span>
    </div>
    <div class="grid-item">
        <span>Nationality:</span>
        <span>{{applicant.nationality}}</span>
    </div>
</div>
<div class="grid-container-col-1">
    <div class="grid-item">
        <span>Passport Number</span>
        <span>{{applicant.pptNo}}</span>
    </div>
    <div class="grid-item">
        <span>Passport Issued Date</span>
        <span>{{applicant.pptIss}}</span>
    </div>
    <div class="grid-item">
        <span>Passport Expiry Date</span>
        <span>{{applicant.pptExp}}</span>
    </div>
</div>

