<section>
    <div>
        <h3>Admin Panel</h3>
    </div>
    <div>
        <country-information-component></country-information-component>
    </div>
    <div>
        <visa-requirements-component></visa-requirements-component>
    </div>
    <div>
        <pending-applications-component></pending-applications-component>
    </div>
    <div>
        <completed-application-component></completed-application-component>
    </div>
    <div></div>
</section>
