<div class="text-center">
    <h1>How it Works</h1>
    <div class="row">
        <div class="col">
            <img src="assets/images/website.png" class="img-size">
            <p>FILL OUT ONLINE APPLICATION</p>
            <p>Complete our easy online application and pay with credit card or PayPal</p>
        </div>
        <div class="col">
            <img src="assets/images/government.png" class="img-size">
            <p>CONSULATE APPOINTMENT</p>
            <p>We'll set up your meeting at the consulate. Complete in-person interview and drop off your passport</p>
        </div>
        <div class="col">
            <img src="assets/images/passportvisa.png" class="img-size">
            <p>PICK UP PASSPORT WITH VISA</p>
            <p>Pick up passport from embassy. Passport will include visa sticker stamp</p>
        </div>
        <div class="col">
            <img src="assets/images/check-in.png" class="img-size">
            <p>ENTER DESTINATION</p>
            <p>Present your Passport and the Visa Sticker upon entry to destination country</p>
        </div>
    </div>
</div>
