<div class="container">
    <div class="row d-block">
    <h3>01. Dual Citizenship is applicable to:</h3>
    <p>A person whose citizenship of Sri Lanka has ceased under section 19, 20 or 21 of the Citizenship Act, No 18 of 1948 or a
    person whose Citizenship of Sri Lanka is likely to cease.</p>
    <ul>
        <li>Resumption – Section 19(2) of the said Act makes provisions in respect of a person whose citizenship of Sri Lanka has
        ceased due to obtaining of citizenship in another country and who there after desires to resume the status of a citizen
        of Sri Lanka.</li>
        <p>OR</p>
        <li>Retention – Section 19(3) of the said act makes provisions in respect of person who is having a desire to obtain
        citizenship in another country, while intends to retain the citizenship of Sri Lanka.</li>
    </ul>
    </div>

    <div class="row d-block">
        <h3>02. Instructions to fill the application :</h3>
        <ul>
            <li>To be completed in “BLOCK CAPITALS”.</li>
            <li>Delete inapplicable word or words wherever * appears in the application.</li>
            <li>Please mention “ Not relevant” if particular information is not applicable.</li>
            <li>Each member of family has to submit a separate application along with 3 passport size colour photographs. Affix one of
            these photographs in the top right hand corner of the first page of the application.</li>
            <li>Any applicant who belongs to one of the categories mentioned in Section 1 of the application (A to G) can apply for dual
            citizenship. Please mark ( ) in the relevant cage.</li>
            <li>The statement in the application should be supported by an affidavit (page 6) made by the applicant before a justice of
            the peace or a Commissioner of Oaths.</li>
            <li>Computer Data Sheet should be completed in “ BLOCK CAPITALS”</li>
            <li>The unmarried applicants who are under age of 22 years, apply for dual citizenship individually, should fill annex 03 in
            addition to the applications and applications submitted after the age of 21 years and 06 months will not be entertained
            under this category.</li>

        </ul>
    </div>

    <div class="row d-block">
        <h3>03.Documents required for the Dual Citizenship :</h3>
        <ul>
            <li>Applicant’s original Birth Certificate or a certified copy of it. (See note 01)
            (If the applicant is a citizen of Sri Lanka by registration, the relevant certificate or a copy of it.)</li>
            <li>If the applicant is married, the marriage certificate or a certified copy of it. (See note 01)</li>
            <li>An applicant submitting application for Resumption under section 19(2) (A person whose Sri Lankan Citizenship ceased due
            to obtaining of citizenship in another country) should submit following documents :-</li>
            <ul>
                <li>Certified copy of foreign Citizenship Certificate; (See note 01)</li>
                <li>Certified copy of Bio data page and observation page of the Foreign passport; (See note 01)</li>
                <li>A recent Police clearance report from the country of foreign citizenship not older than 3 months(applicant above 16
                years should submit the police report)</li>
                <li>Certified copy of Bio data page and observation page of the previous Sri Lankan passport(if available) (See note 01)</li>
            </ul>
            <p>OR</p>
            <li>An applicant submitting application for Retention under section 19(3) (A person who is having desire to obtain
            citizenship in another country, while intends to retain the citizenship of Sri Lanka) should submit following documents,</li>
            <ul>
                <li>Certified copy of Bio data page and the observation page of the current Sri Lankan passport. (See note 01)</li>
                <li>Certified copy of permanent residence visa. (See note 01)</li>
                <li>A recent Police clearance report from the country of foreign citizenship not older than 3 months(applicant above
                    16
                    years should submit the police report)</li>
                <li>A recent Police clearance report from the country of permanent residence not older than 3 months. (applicant above 16
                years should submit the police report)</li>
            </ul>
            <li>If applying under age category (1.A) original birth certificate or certified copy of it. (See note 01)</li>
            <li>If applying under Professional category (1.B) applicant’s Educational / Professional certificates or a certified copy of
            it. (minimum one year diploma or higher, or any other professional qualification.) (See note 01)</li>
            <li>If applying under the Assets / Properties category (1.C) original documentary proof of applicant’s assets such as; land
            or other immovable properties in Sri Lanka worth of Rs. 2.5 million or above a certified copy of deed, original
            valuation report and title repot with pedigree for the same not older than 3 months should be also submitted.</li>
            <li>If applying under Fixed Deposit of Rs. 2.5 million or above category (1.D) a confirmation letter from the bank
            mentioning deposit will be hold for a period for 3 years for obtaining dual citizenship.</li>
            <li>If applying under Fixed deposit of USD 25,000 or above – category (1.E) a confirmation letter from the bank mentioning
            deposit will be hold for period of 3 years for obtaining dual citizenship.</li>
            <li>If applying under Treasury Bond (TB) or Security Investment Account (SIA) valued of USD 25,000 for minimum 3 years
            period – category (1.F) a certificate from the relevant Authority conforming the investment will not be withdrawn prior
            to maturity for obtaining dual citizenship.</li>
            <li>Following documents should be submitted if applying under the spouse of the applicant or an unmarried child under the
            age of 22 years of the applicant (Category 1.G) who has completed any qualification from A to F indicated in No 1 of the
            application.</li>
            <ul>
                <li>The original of the Marriage Certificate of the spouse or a certified copy thereof. (See note No. 1)</li>
                <li>Unmarried child under the age of 22 years</li>
            </ul>
            <li>If the child is born in Sri Lanka, the original of the Birth Certificate or a certified copy thereof. (See note No. 1)</li>
            <ul>
                <li>If the child is born outside Sri Lanka, the Citizenship Certificate or a copy thereof issued under section 5(2) of
                Citizenship Act. (See note No. 1)</li>
                <li>Sri Lankan passports of the parents and visa of the other country should be submitted.</li>
                <li>Applications should be submitted prior to completion of the age of 21 years and 06 months.</li>
                <li>If his/her age is more than 22 years at the time of making payments he/she should submit applications again under other
                category( 1A-1F)</li>
                <li>Applications of the applicants who have completed the age of 21 years and 06 months will not be entertained under this
                category with effect from 01.07.2019.
                A spouse or children eligible under this category shall be limited to a person whose citizenship of Sri Lanka has ceased
                under section 19,20 or 21of the Citizenship Act No 18 of 1948 or a person whose Sri Lankan citizenship is likely to
                cease.</li>
            </ul>
            <p>Note :</p>
            <ul>
                <li>Documents could only be certified by the Deputy/ Assistant Controller (Citizenship) of the Department of Immigration and
                Emigration or by the Senior Officer of Sri Lanka Overseas Mission in rank not less than of Third Secretary.</li>
                <li>Translated documents are not considered as the Original documents. (Eg: English Translation of Birth Certificates,
                Marriage Certificates, Police Reports. etc)</li>
                <li>The duly perfected applications should be submitted to the Department of Immigration and Emigration or to the Sri Lankan
                Overseas Missions By the applicant.</li>
                <li>All the documents other than in English, Sinhala or Tamil should be submitted along with the English translation.</li>
            </ul>
        </ul>
    </div>

    <div class="row d-block">
        <h3>04. Submission of application</h3>
        <p>The duly perfected applications should be submitted directly to the Department of Immigration and Emigration or to the
        Sri Lanka Overseas Mission by the applicant. The applications submitted through Sri Lanka Overseas mission should be
        sent along with the documents specified in Paragraph 03 above which should be authenticated by Head of the Diplomatic
        mission or senior officer in rank of Third Secretary or above in the which the applicant has acquired citizenship /
        permanent residence. The applications and the documents should authenticated by the Deputy or Assistant Controller of
        citizenship division when the applicants are handed over to the head office of the Department of Immigration and
        Emigration. All the documents other than in English, Sinhala or Tamil should be submitted along with the English
        translation of the same.</p>
        <span>
            Department Address:
            The Controller General,
            Department of Immigration and Emigration,
            Citizenship Division,
            “Suhurupaya”,
            Sri Subhuthipura Road,
            Battaramulla,
            Sri Lanka.

        </span>
        </div>
</div>
