<div class="text-center">
    <h1>How it Works</h1>
    <div class="row row-margin">
        <div class="col">
            <img src="assets/images/website.png" class="img-size">
            <p>FILL OUT ONLINE APPLICATION</p>
            <p>Complete our easy online application and pay with credit card or PayPal</p>
        </div>
        <div class="col">
            <img src="assets/images/messenger-bag.png" class="img-size">
            <p>SEND YOUR DOCUMENTATION VIA EXPRESS COURIER</p>
            <p>Print courier label we provide and send your travel documentation</p>
        </div>
        <div class="col">
            <img src="assets/images/government.png" class="img-size">
            <p>PROCESS VISA AT CONSULATE</p>
            <p>We take care of processing your visa at the consulate / embassy</p>
        </div>
        <div class="col">
            <img src="assets/images/check-in.png" class="img-size">
            <p>ENTER DESTINATION</p>
            <p>Receive your passport with stamped Visa via courier and present it upon entry to destination country</p>
        </div>
    </div>
</div>
