<!--
 Copyright (c) 2016, the Dart project authors.  Please see the AUTHORS file
 for details. All rights reserved. Use of this source code is governed by a
 BSD-style license that can be found in the LICENSE file.
-->
<div class="navi-bar" focusList role="tablist">
    <div class="tab-indicator" [style.transform]="tabIndicatorTransform"></div>
    <tab-button *ngFor="let tabLabel of tabLabels; let idx = index" (trigger)="switchTo(idx)" [id]="tabId(idx)"
        class="tab-button" [active]="activeTabIndex == idx" [attr.aria-selected]="activeStr(idx)" [label]="tabLabel"
        focusItem role="tab">
    </tab-button>
</div>