<!--
 Copyright (c) 2016, the Dart project authors.  Please see the AUTHORS file
 for details. All rights reserved. Use of this source code is governed by a
 BSD-style license that can be found in the LICENSE file.
-->
<material-ripple *ngIf="selectable"></material-ripple>
<div class="label-name">{{label}}<ng-content select="name"></ng-content></div>
<div class="label-value" [title]="tooltip"><img class="img-resize" src="{{continentImage}}"><ng-content select="value"></ng-content></div>
<ng-content></ng-content>
