<section>
   <div>
      <span>Where am I from ?</span>
      <country-dropdown-list-component></country-dropdown-list-component>
   </div>
   <div>
      <span>Where am I Going?</span>
      <country-dropdown-list-component [isToCountry]="isToCountry"></country-dropdown-list-component>
   </div>
   <div>
      <visa-required-component *ngIf="visa.isVisaRequired"></visa-required-component>
      <on-arrival-component *ngIf="visa.isVisaOnArrival"></on-arrival-component>
      <visa-free-component *ngIf="visa.isVisaFree"></visa-free-component>
   </div>
   <div>
      <visa-details-component [visaDetails]="visaDetails" *ngIf="isLoaded"></visa-details-component>
   </div>
</section>
