<section>
<div class="container text-center mdc-card mdc-card--outlined">
    <span>Sign In</span>
    <div class="row">
         <span>User Name</span>
         <material-input label="User Name" type="text"></material-input>
    </div>
    <div class="row">
        <span>Password</span>
        <material-input label="Password" type="password"></material-input>
    </div>
    <div>
        <material-button raised (trigger)="loginToAdmin()">Log In</material-button>
    </div>
</div>
</section>
