<div class="container">
    <div>
        <acx-scoreboard [type]="radio">
            <div class="flex-container">
                <acx-scorecard class="score-card-width"
                [label]="allCountries"
                [value]="allCountries"
                continentImage="assets/images/world-map.png" (selectedContinent)="selectedContinent($event)">
            </acx-scorecard>
            <acx-scorecard class="score-card-width"
                [label]="mostVisited"
                [value]="mostVisited"
                continentImage="assets/images/world-map.png" (selectedContinent)="selectedContinent($event)">
            </acx-scorecard>
            <acx-scorecard class="score-card-width"
                [label]="asia"
                [value]="asia"
                continentImage="assets/images/asia.jpg" (selectedContinent)="selectedContinent($event)">
            </acx-scorecard>
            <acx-scorecard class="score-card-width"
                [label]="africa"
                [value]="africa"
                continentImage="assets/images/africa.jpg" (selectedContinent)="selectedContinent($event)">
            </acx-scorecard>
            <acx-scorecard class="score-card-width"
                [label]="europe"
                [value]="europe"
                continentImage="assets/images/europe.jpg" (selectedContinent)="selectedContinent($event)">
            </acx-scorecard>
            <acx-scorecard class="score-card-width"
                [label]="asiaPacific"
                [value]="asiaPacific"
                continentImage="assets/images/australia.jpg" (selectedContinent)="selectedContinent($event)">
            </acx-scorecard>
            <acx-scorecard class="score-card-width"
                [label]="nAmerica"
                [value]="nAmerica"
                continentImage="assets/images/north-america.jpg" (selectedContinent)="selectedContinent($event)">
            </acx-scorecard>
            <acx-scorecard class="score-card-width"
                [label]="sAmerica"
                [value]="sAmerica"
                continentImage="assets/images/south-america.jpg" (selectedContinent)="selectedContinent($event)">
            </acx-scorecard>
            </div>
          </acx-scoreboard>
    </div>
</div>
