.grid-container-col {
    padding-top: 25px;
    padding-left: 25px;
    padding-right: 25px;
    display: grid;
    grid-template-columns: 15% 15% 15% 15% 15% 15%;
    justify-content: space-evenly;
  }

  .flex-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .flex-container > div {
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
  }

  .score-card-width{
    width: 25%;
  }

