<div class="container-fluid front-bg-img">
    <div class="container">
        <div class="row">
            <div class="mx-auto mt-5">
                <h1>Check your Visa Requirements</h1>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-6 text-center">
                <img class="passport-img" src="assets/images/passport.png" alt="">
            </div>
        </div>
        <div class="row text-center">
            <div class="col">
                <h2 class="display-5">Where am I From?</h2>
                <p>Nationality as in passport</p>
                <country-dropdown-list-component [hintValue]="hintValue"></country-dropdown-list-component>
            </div>
            <div class="col">
                <h2 class="display-5">Where am I Going?</h2>
                <p>Travelling to</p>
                <country-dropdown-list-component [isToCountry]="isToCountry" [hintValue]="hintValue"></country-dropdown-list-component>
            </div>
        </div>
    </div>
</div>