.front-bg-img {
    height: 34em;
    background-image: url(assets/images/banner.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

img.passport-img {
    width: 20%;
}

hr {
    margin-top: 1rem;
    margin-bottom: 3rem;
    border: 0;
    border-top: 2px solid rgba(0, 0, 0, 0.5);
    width: 40%;
}