<material-dropdown-select class="text-left dropdown-width bg-light" buttonAriaRole="combobox" [buttonText]="singleSelectLanguageLabel" [options]="languageOptions"
    [selection]="singleSelectModel" [itemRenderer]="itemRenderer" [listAutoFocus]="false" [activateFirstOption]="true"
    (selectionChange)="onSelectionChange($event)" (visibleChange)="onDropdownVisibleChange($event)">
    <div header>
        <material-select-searchbox label="Search..." [filterable]="languageOptions">
        </material-select-searchbox>
    </div>
</material-dropdown-select>
