<div class="container text-center mdc-card mdc-card--outlined">
    <h1>How to Apply</h1>
    <div class="row">
        <div class="col">
            <p>FILL OUR ONLINE APPLICATION</p>
            <p>Complete our easy online application and call us for an Appointment</p>
        </div>
        <div class="col">
            <p>HANDOVER YOUR REQUIRED DOCUMENTS WITH APPOINEMENT</p>
            
        </div>
        <div class="col">
            <p>SUBMIT YOUR DOCUMENTS TO EMBASSY/VISA CENTER FOR BIO METRICS</p>
            <p>Present your Passport and the Document we provide upon entry to visa submission</p>
        </div>
    </div>
</div>