@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap);
@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Material+Icons);

/* importing Bootstrap */
@import url(https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css);

* {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
}

.loading-img {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.img-size {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: 5px solid #e0e0e0;
}
